<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jangphong.hem.karbicalender2">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".HolidayPopupWindow"
            android:theme="@style/AppTheme.Popup" />
        <activity android:name=".StoredNotesDisplayActivity" />
        <activity android:name=".NotesFieldActivity" />
        <activity android:name=".NotesActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".About" />
        <activity android:name=".holidays" />
        <activity android:name=".Reminder" />
        <receiver android:name=".helperclass.AlarmReceiver" />
        <activity android:name=".ReminderList" />
        <activity
            android:name=".notesactivities.jan"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".notesactivities.feb"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".notesactivities.march"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".notesactivities.april"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".notesactivities.may"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".notesactivities.june"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".notesactivities.july"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".notesactivities.august"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".notesactivities.sep"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".notesactivities.oct"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".notesactivities.nov"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".notesactivities.dec"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-6376378742627184~5911477780"/>
    </application>

</manifest>